<!DOCTYPE html>
<html>
<head>
	<title>Home | JUST DU IT</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="nav">
	<div class="logo">
		<img src="images/logo.png" class="logoimage">
	</div>
	<div class="searchbar">
		<img src="images/search.png" class="searchicon">
		<input type="text" placeholder="search" class="searchinput">
	</div>
	<div class="profile">
		<div class="profilename">Christopher</div>
		<div class="dropdowns">
			<div class="dropdown">Logout</div>
		</div>
	</div>
	<!--
	<div class="menus">
		<a href="login.html" class="menu">Login</a>
		<a href="register.html" class="menu">Register</a>
	</div>!-->
</nav>
<div class="leftnav">
	<div class="selected"><div class="inner active"><a href="adminhome.html">All Shoes</a></div></div>
	<div class="leftmenu"><div class="inner"><a href="addshoe.html">Add Shoe</a></div></div>
	<div class="leftmenu"><div class="inner"><a href="admintransaction.html">View Transactions</a></div></div>
</div>
<div class="content">
	<div class="viewallshoetitle">
	All Shoes
		<div class="pagination">
			<a href="#" class="paginatebutton left"></a>
			<a href="#" class="paginatebutton right"></a>
		</div>
	</div>
	<div class="shoes">
		<a class="shoe" href="shoe.html">
			<img src="images/eqt.jpg" class="shoeimage">
			<div class="shoename">Adidas EQT</div>
			<div class="price">Rp. 2,000,000</div>
		</a>
		<a class="shoe" href="shoe.html">
			<img src="images/eqt.jpg" class="shoeimage">
			<div class="shoename">Adidas EQT</div>
			<div class="price">Rp. 2,000,000</div>
		</a>
		<a class="shoe" href="shoe.html">
			<img src="images/eqt.jpg" class="shoeimage">
			<div class="shoename">Adidas EQT</div>
			<div class="price">Rp. 2,000,000</div>
		</a>
		<a class="shoe" href="shoe.html">
			<img src="images/eqt.jpg" class="shoeimage">
			<div class="shoename">Adidas EQT</div>
			<div class="price">Rp. 2,000,000</div>
		</a>
		<a class="shoe" href="shoe.html">
			<img src="images/eqt.jpg" class="shoeimage">
			<div class="shoename">Adidas EQT</div>
			<div class="price">Rp. 2,000,000</div>
		</a>
		<a class="shoe" href="shoe.html">
			<img src="images/eqt.jpg" class="shoeimage">
			<div class="shoename">Adidas EQT</div>
			<div class="price">Rp. 2,000,000</div>
		</a>
	</div>
</div>
</body>
</html>