<!DOCTYPE html>
<html>
<head>
	<title>Edit Cart | JUST DU IT</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="nav">
	<div class="logo">
		<img src="images/logo.png" class="logoimage">
	</div>
	<div class="searchbar">
		<img src="images/search.png" class="searchicon">
		<input type="text" placeholder="search" class="searchinput">
	</div>
	<div class="menus">
		<a href="login.html" class="menu">Login</a>
		<a href="register.html" class="menu">Register</a>
	</div>
</nav>
<div class="leftnav">
	<div class="leftmenu"><div class="inner"><a href="home.html">All Shoes</a></div></div>
	<div class="selected"><div class="inner active"><a href="mycart.html">My Cart</a></div></div>
	<div class="leftmenu"><div class="inner"><a href="transaction.html">Transactions</a></div></div>
</div>
<div class="content editcartcontent">
	<img class="editcartbackground" src="images/eqt.jpg">
	<div class="editcarttitle">Edit Cart</div>
	<div class="editcartcontainer">
	<img src="images/eqt.jpg" class="editcartimage">
		<div class="editcartdetail">
			<div class="editcartname">Adidas EQT Support</div>
			<div class="editcartdescription">This is a shoe. You will get a pair of shoe if you buy this. Sole is made of rubber with a power to jump over the everest</div>
			<div class="editcartprice">Rp. 2,000,000</div>
			<input type="number" class="editcartinput" value="1"></br>
			<input type="submit" class="button editsubmit" value="Save">
			<img src="images/trash.png" class="deletebutton">
		</div>
	</div>
</div>
</body>
</html>