<!DOCTYPE html>
<html>
<head>
	<title>My Cart | JUST DU IT</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="nav">
	<div class="logo">
		<img src="images/logo.png" class="logoimage">
	</div>
	<div class="searchbar">
		<img src="images/search.png" class="searchicon">
		<input type="text" placeholder="search" class="searchinput">
	</div>
	<div class="menus">
		<a href="login.html" class="menu">Login</a>
		<a href="register.html" class="menu">Register</a>
	</div>
</nav>
<div class="leftnav">
	<div class="leftmenu"><div class="inner"><a href="home.html">All Shoes</a></div></div>
	<div class="selected"><div class="inner active"><a href="mycart.html">My Cart</a></div></div>
	<div class="leftmenu"><div class="inner"><a href="transaction.html">Transactions</a></div></div>
</div>
<div class="content">
	<div class="viewallshoetitle">My Cart <div class="totalprice">Rp. 6,000,000</div></div>
	<div class="carts">
		<div class="cart">
			<img src="images/eqt.jpg" class="cartimage">
			<div class="cartdetail">
				<div class="cartname">Adidas EQT Support</div>
				<div class="cartprice">Rp. 2,000,000</div>
				<div class="cartqty">Qty: 1</div>
				<a href="editcart.html" class="cartedit button">Edit</a>
			</div>
		</div>
		<div class="cart">
			<img src="images/eqt.jpg" class="cartimage">
			<div class="cartdetail">
				<div class="cartname">Adidas EQT Support</div>
				<div class="cartprice">Rp. 2,000,000</div>
				<div class="cartqty">Qty: 1</div>
				<a href="editcart.html" class="cartedit button">Edit</a>
			</div>
		</div>
		<div class="cart">
			<img src="images/eqt.jpg" class="cartimage">
			<div class="cartdetail">
				<div class="cartname">Adidas EQT Support</div>
				<div class="cartprice">Rp. 2,000,000</div>
				<div class="cartqty">Qty: 1</div>
				<a href="editcart.html" class="cartedit button">Edit</a>
			</div>
		</div>
		<div class="checkoutbutton button">CHECKOUT</div>
	</div>
</div>
</body>
</html>